[submodule "text/paper-draft"]
	path = text/paper-draft
	url = git@github.com:SSD-Brandeis/LSMMemoryProfilingText.git
[submodule "KV-WorkloadGenerator"]
	path = KV-WorkloadGenerator
	url = git@github.com:SSD-Brandeis/KV-WorkloadGenerator.git
