**/Info.plist

# test/paper-draft
**.aux
**.fdb_latexmk
**.fls
**.log
**.synctex.gz
**.out
**.bbl
**.blg

# paper pdf [generated at user side]
**.pdf

# bibliography biblio.tex [generated at user side]
**biblio.tex